<% include ./partials/header.ejs %>
<div class="main container">
	<div class="ui three column doubling stackable grid container">
		<% blogs.forEach((blog) => { %>
			<div class="column"> 
			  <div class="ui segment">
					<h2><%= blog.title %></h2>
					<img src="<%= blog.image %>"><br>
					<span><%= blog.created.toDateString() %></span>	
					<p><%- blog.body.substring(0, 100) %>...</p>
					<a id="readmoreIndex" href="/blogs/<%= blog._id %>">Read More</a>
				</div> <!--  end of  segment  container-->
			</div>  <!--  end of  column div -->
			<% }); %>
	</div> <!--  end of  main grid container-->
</div>
<% include ./partials/footer.ejs %>


